node_modules
.pnp
.pnp.js

coverage/
documentation/
.nyc_output

build
dist

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.secrets

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

versioning/preferences
./server/config
./client/config
.vscode

service-account.json
admin-account.json

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

prod-sa.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release
prod-sa.json

gradle-wrapper.jar
.gradle
captures/
gradlew
gradlew.bat
local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
**/google-services.json

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform plan files
*.tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files (not meant to be versioned)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Generated backend configuration
# backend.tf

# Sensitive files (like private keys or credentials)
*.pem
*.key
*.crt
*.env

# Lock file
.terraform.lock.hcl

# Local .terraform directories
.terraform/

# IDE or editor-specific files
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Ignore logs
*.log

# Ignore output files
*.out# Terraform state files
*.tfstate
*.tfstate.*
*/providers/*
.terraform/
.terraform/providers/

# Crash log files
crash.log

# Terraform plan files
*.tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files (not meant to be versioned)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Generated backend configuration
# backend.tf

# Sensitive files (like private keys or credentials)
*.pem
*.key
*.crt
*.env

# Lock file
.terraform.lock.hcl

# Local .terraform directories
.terraform/

# IDE or editor-specific files
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Ignore logs
*.log

# Ignore output files
*.out

.sentryclirc

build-info/
debug-info/
