<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222626452683-gpqqh6k9lmndj9r4grokf9e2qkrsccld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222626452683-gpqqh6k9lmndj9r4grokf9e2qkrsccld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222626452683-onsj5ja8fa08k9tk977nel89tca18rcr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABWjnLQKACnyyJf6q4bXgKjFW7DAwGh2o</string>
	<key>GCM_SENDER_ID</key>
	<string>222626452683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>imabulary-fc20f</string>
	<key>STORAGE_BUCKET</key>
	<string>imabulary-fc20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222626452683:ios:a1e7c5988804a7ec0ff74e</string>
</dict>
</plist>